// Colores header

$colores-header:
#ffffff07,
#ffffff,
#00276c,
#303030,
#0a5cb8,
#00000079,
#2174d4,
#4040fb,
#020202b2,
;

// Colores main index

$colores-main-index:
#ffffff,
#000000,
#3c158a,
#6220cc,
#9750c0,
#b040cc,
#933ed8,
#6d5bcf,
#3f41d4,
#313daa,
#182c63,
;

$color-boton-cursos:
#e8e8e8,
;


// Colores footer

$colores-footer: 
rgb(217, 176, 255),
rgba(112, 19, 199, 0.781),
rgb(231, 206, 255),
rgb(100, 61, 136),
;
