// Variables header

$margin-header: 1rem 3rem;
$altura_header: 130px;
$padding_left_right: 2rem;
$margin-centrar: 0 auto;
$altura_header_desktop: 100px;
$transition-header-scroll: all .7s;
$z-index-header: 9999999;
$margin-left-right-header: 0px;
$tamanio-logo: 225px;

// Variables main index

$margin-left-landing: 140px;
$separacion-de-texto: 4rem;    

    // Variables cards 

    $cards: 4;
    $cardHeight: 650px;
    $cardTopPadding: 1.4em;
    $CardMargin: 14vw;
    $width-section-inside: 60%;
    $margin-left-section: 50px;

    // Fin variables cards

    // Seccion cursos

    $padding_left-text-courses: 10%;
    $width-boton-carrito: 1.5625rem;
    $transition-carrito: width 0.5s ease-out, left 0.3s ease-out;
    $carritoemergente: 30vw;

    // Fin seccion cursos


